/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/


.title{
	text-align: center;
}

.member{
	border: 1px solid rgb(219, 213, 213);
	border-radius: 5px;
	margin-top: 10px;
	padding: 20px 0;
	text-align: center;

}

.member img{
	border-radius: 50%;
	max-width: 100%;

}

.member p{
	padding: 0 10px;
	margin: 0px;
}

/* --------------------------------- TABLET ------------------------- */
@media screen and (min-width: 540px){
	.team{
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
	}

	.member{
		flex: 0 0 calc((100% - 10px)/2);
		display: flex;
		align-items: center;
	}

	.member-text{
		flex: 1 1 80%;
		padding-right: 20px;
		text-align: left;
	}

	.member-text p{
		padding: 0;
	}

	.member img{
		max-width: 60%;
		flex: 1 1 20%;
		padding: 0 20px;
	}
}

/* --------------------------------- PC ------------------------- */
@media screen and (min-width: 960px){
	.member{
		flex: 0 0 calc((100% - 40px)/4);
		flex-direction: column;
		margin-top: 0px;
	}

	.member-text{
		padding: 0 20px;
		text-align:center;

	}
	
}